body {
    font-family:  "Nunito", Georgia, 'Times New Roman', Times, serif;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8)), url('./bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-position: center;
    align-content: center;
}
main{
    height: 90%;
    width: 95%;
    margin: auto;
    text-align: left;
    color: white;
    overflow-y: scroll;
    overflow-x: hidden;
}
main::-webkit-scrollbar {
    display: none;
}

#app-title {
    margin-left: 7%;
    color: rgba(222, 244, 252, 0.6);
    font-weight: bolder;
}

#input-container, section {
    margin: auto;
}

#singleCard {
    background-color: rgba(34,107,163, 0.6);
    color: white;
    margin: auto;
    display: none;
}
#singleCard > img {
    height:initial;
    width: initial;
    margin: auto;
}
#singleCard p {
    margin-bottom:0 !important;
}


section {
    padding: 0 !important;
    overflow-y: scroll;
    overflow-x: hidden;
    display: none;
    margin-top: 50px;
}
section::-webkit-scrollbar {
    display: none;
}

#card {
    background-color: rgba(34,107,163, 0.6);
    color: white;
}

#more-forecast-title {
    color: rgba(222, 244, 252, 0.6);
    font-weight: bold;
}
